<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.ApplicantMapper">

    <resultMap id="resultMap" type="com.bnuz.filemanagement.model.Applicant">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="mate_name" property="mateName"/>
        <result column="mate_idcard" property="mateIdCard"/>
    </resultMap>

    <sql id="select">
        id,
        name,id_card,phone,gender,mate_name,mate_idcard,working_address
    </sql>

    <sql id="selectByIdCard">
        a.id,a.name,a.idCard,a.phone,a.gender,a.mateName,a.mateIdCard,a.workingAddress,
        h.id,h.uid,h.ownerName,h.gender,h.idCard,h.phone,h.workingAddress,h.houseLocation,h.houseArea,h.houseType,h.entryDate,h.salesUnit,h.propertyTransition
    </sql>


    <!-- 添加申请人 -->
    <insert id="insert" parameterType="com.bnuz.filemanagement.model.Applicant">
        insert into applicant(name,id_card,phone,gender,
                              mate_name,mate_idcard,working_address)
        values(#{name},#{idCard},#{phone},#{gender},#{mateName},#{mateIdCard},#{workingAddress});
    </insert>

    <!-- 根据申请人id删除申请人信息 -->
    <delete id="deleteById">
        delete from applicant where id=#{id};
    </delete>

    <!-- 修改申请人档案信息 -->
    <update id="update" parameterType="com.bnuz.filemanagement.model.Applicant">
        update applicant
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="mateName != null">mate_name = #{mateName},</if>
            <if test="mateIdCard != null">mate_idcard = #{mateIdCard},</if>
            <if test="workingAddress != null">working_address = #{workingAddress},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据条件模糊查询申请人信息 -->
<!--    <select id="findByFuzzyName" resultMap="resultMap">-->
<!--        select *from applicant-->
<!--        <where>-->
<!--            <if test="name !=null and name!=''">-->
<!--                name like concat('%',#{name},'%')-->
<!--            </if>-->

<!--            <if test="mateName !=null and mateName !=''">-->
<!--                AND mate_name like concat('%',#{mateName},'%')-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->


    <!-- 条件查询申请人档案数据-->
    <select id="findOne" resultType="com.bnuz.filemanagement.model.Applicant">
        select
        <include refid="select"></include>
        from applicant
        <where>

            <if test="id !=null and id !=''">
                id = #{id}
            </if>

            <if test="name !=null and name!=''">
                AND name = #{name}
            </if>

            <if test="idCard !=null and idCard !=''">
                AND id_card = #{idCard}
            </if>

            <if test="phone !=null and phone != ''">
                AND phone = #{phone}
            </if>

            <if test="gender !=null and gender !=''">
                AND gender = #{gender}
            </if>

            <if test="mateName !=null and mateName != ''">
                AND mate_name = #{mateName}
            </if>

            <if test="mateIdCard !=null and mateIdCard != ''">
                AND mate_idcard = #{mateIdCard}
            </if>

            <if test="workingAddress !=null and workingAddress != ''">
                AND working_address = #{workingAddress}
            </if>

        </where>
    </select>

    <!-- id查询申请人信息 -->
    <select id="findById" resultType="com.bnuz.filemanagement.model.Applicant">
        select
        <include refid="select"></include>
        from applicant
        where id = #{id}
    </select>

    <!-- 查询所有申请人信息 -->
    <select id="findAll" resultMap="resultMap">
        select
        <include refid="select"></include>
        from applicant
    </select>

</mapper>