<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.HousingFileMapper">

    <sql id="select">
        id,
        uid,owner_name,gender,id_card,phone,working_address,house_location,house_area,house_type,
                                 entry_date,sales_unit,property_transition
    </sql>
    
    <!-- 录入个人住房档案 -->
    <insert id="add">
        insert into housing_file(uid,owner_name,gender,id_card,phone,working_address,house_location,house_area,house_type,
                                 entry_date,sales_unit,property_transition)
        values (#{uid},#{ownerName},#{gender},#{idCard},#{phone},#{workingAddress},
                #{houseLocation},#{houseArea},#{houseType},#{entryDate},#{salesUnit},#{propertyTransition});
    </insert>


    <select id="find" resultType="com.bnuz.filemanagement.model.HousingFile">
        select 
        <include refid="select"></include>
        from housing_file
        <where>

            <if test="id !=null and id !=''">
                 id = #{id}
            </if>

            <if test="uid !=null and uid!=''">
                AND uid = #{uid}
            </if>

            <if test="ownerName !=null and ownerName !=''">
                AND owner_name = #{ownerName}
            </if>

            <if test="gender !=null and gender !=''">
                AND gender = #{gender}
            </if>

            <if test="idCard !=null and idCard !=''">
                AND id_card = #{idCard}
            </if>

            <if test="phone !=null and phone != ''">
                AND phone = #{phone}
            </if>

            <if test="workingAddress !=null and workingAddress != ''">
                AND working_address = #{workingAddress}
            </if>

            <if test="houseLocation !=null and houseLocation != ''">
                AND house_location = #{houseLocation}
            </if>

            <if test="houseType !=null and houseType != ''">
                AND house_type = #{houseType}
            </if>

            <if test="entryDate !=null and entryDate != ''">
                AND entry_date = #{entryDate}
            </if>

            <if test="salesUnit !=null and salesUnit != ''">
                AND sales_unit = #{salesUnit}
            </if>

            <if test="propertyTransition !=null and propertyTransition != ''">
                AND property_transition = #{propertyTransition}
            </if>
        </where>
        
    </select>

    <select id="findById" resultType="com.bnuz.filemanagement.model.HousingFile">
        select
        <include refid="select"></include>
        from housing_file
        where id = #{id}
    </select>

    <!-- 修改个人住房档案数据-->
    <update id="update" parameterType="com.bnuz.filemanagement.model.HousingFile">
        update housing_file
        <set>
            <if test="uid != null">uid = #{uid},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="workingAddress != null">working_address = #{workingAddress},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="houseType != null">house_type = #{houseType},</if>
            <if test="houseLocation != null">house_location = #{houseLocation},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="salesUnit != null">sales_unit = #{salesUnit},</if>
            <if test="propertyTransition != null">property_transition = #{propertyTransition},</if>
        </set>
        where id = #{id}

    </update>
    





</mapper>