<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.PropertyRightMapper">

    <resultMap id="resultMap" type="com.bnuz.filemanagement.model.PropertyRight">
        <result column="id" property="id"/>
        <result column="house_id" property="houseId"/>
        <result column="owner_name" property="ownerName"/>
        <result column="original_unit" property="originalUnit"/>
        <result column="house_area" property="houseArea"/>
        <result column="location" property="location"/>
        <result column="house_type" property="houseType"/>
        <result column="part_to_full" property="partToFull"/>
        <result column="property_right_retract" property="propertyRightRetract"/>
        <result column="property_right_date" property="propertyRightDate"/>
    </resultMap>


    <sql id="select">
        id,
        house_id,owner_name,original_unit,house_area,location,house_type,part_to_full,property_right_retract,property_right_date
    </sql>

    <!-- 录入产权产籍数据 -->
    <insert id="insert">
        insert into property_right(house_id,owner_name,original_unit,house_area,house_type,location,part_to_full,
                                   property_right_retract,property_right_date)
        values (#{houseId},#{ownerName},#{originalUnit},#{houseArea},#{houseType},#{location},#{partToFull},
                #{propertyRightRetract},#{propertyRightDate});
    </insert>


    <!-- 根据id删除产权产籍数据 -->
    <delete id="deleteById">
        delete from property_right where id=#{id};
    </delete>


    <!-- 条件修改产权产籍数据-->
    <update id="update" parameterType="com.bnuz.filemanagement.model.PropertyRight">
        update property_right
        <set>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="originalUnit != null">original_unit = #{originalUnit},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="location != null">location = #{location},</if>
            <if test="houseType != null">house_type = #{houseType},</if>
            <if test="partToFull != null">part_to_full = #{partToFull},</if>
            <if test="propertyRightRetract != null">property_right_retract = #{propertyRightRetract},</if>
            <if test="propertyRightDate != null">property_right_date = #{propertyRightDate},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 条件查询产权产籍数据-->
    <select id="findOne" resultMap="resultMap">
        select
        <include refid="select"></include>
        from property_right
        <where>
            <if test="id !=null and id !=''">
                id = #{id}
            </if>

            <if test="houseId !=null and houseId!=''">
                AND house_id = #{houseId}
            </if>

            <if test="ownerName !=null and ownerName!=''">
                AND house_id = #{houseId}
            </if>

            <if test="originalUnit !=null and originalUnit!=''">
                AND original_unit = #{originalUnit}
            </if>

            <if test="houseArea !=null and houseArea !=''">
                AND house_area = #{houseArea}
            </if>

            <if test="location !=null and location !=''">
                AND location = #{location}
            </if>

            <if test="houseType !=null and houseType !=''">
                AND house_type = #{houseType}
            </if>

            <if test="partToFull !=null and partToFull != ''">
                AND part_to_full = #{partToFull}
            </if>

            <if test="propertyRightRetract !=null and propertyRightRetract != ''">
                AND house_location = #{houseLocation}
            </if>

            <if test="propertyRightDate !=null and propertyRightDate != ''">
                AND property_right_date = #{propertyRightDate}
            </if>
        </where>
    </select>


    <!-- id查询产权产籍数据-->
    <select id="findById" resultType="com.bnuz.filemanagement.model.PropertyRight">
        select
        <include refid="select"></include>
        from property_right
        where id = #{id}
    </select>

    <!-- 查询全部产权产籍数据-->
    <select id="findAll" resultMap="resultMap">
        select
        <include refid="select"></include>
        from property_right
    </select>

</mapper>