<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.PublicHousingMapper">

    <resultMap id="resultMap" type="com.bnuz.filemanagement.model.PublicHousing">
        <result column="id" property="id"/>
        <result column="house_id" property="houseId"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="id_card" property="idCard"/>
        <result column="working_address" property="workingAddress"/>
        <result column="entry_date" property="entryDate"/>
        <result column="sales_unit" property="salesUnit"/>
        <result column="house_type" property="houseType"/>
        <result column="house_price" property="housePrice"/>
        <result column="property_transition_status" property="propertyTransitionStatus"/>
    </resultMap>

    <sql id="select">
        id,
        house_id,applicant_name,id_card,working_address,entry_date,sales_unit,house_type,house_price,property_transition_status
    </sql>


    <!-- 录入个人购单位公房档案信息 -->
    <insert id="insert">
        insert into public_housing(house_id,applicant_name,id_card,working_address,
                                  entry_date,sales_unit,house_type,house_price,property_transition_status)
        values (#{houseId},#{applicantName},#{idCard},#{workingAddress},#{entryDate},#{salesUnit},#{houseType},
                #{housePrice},#{propertyTransitionStatus});
    </insert>


    <!-- 根据id删除个人购单位公房档案数据 -->
    <delete id="deleteById">
        delete from public_housing where id=#{id};
    </delete>

    <!-- 条件修改个人购单位公房档案数据-->
    <update id="update" parameterType="com.bnuz.filemanagement.model.PublicHousing">
        update public_housing
        <set>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="applicantName != null">applicant_name = #{applicantName},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="workingAddress != null">working_address = #{workingAddress},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="salesUnit != null">sales_unit = #{salesUnit},</if>
            <if test="houseType != null">house_type = #{houseType},</if>
            <if test="housePrice != null">house_price = #{housePrice},</if>
            <if test="propertyTransitionStatus != null">property_transition_status = #{propertyTransitionStatus},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 条件查询个人购单位公房档案数据-->
    <select id="findOne" resultMap="resultMap">
        select
        <include refid="select"></include>
        from public_housing
        <where>

            <if test="id !=null and id !=''">
                id = #{id}
            </if>

            <if test="houseId !=null and houseId!=''">
                AND house_id = #{houseId}
            </if>

            <if test="applicantName !=null and applicantName !=''">
                AND applicant_name = #{applicantName}
            </if>

            <if test="idCard !=null and idCard !=''">
                AND id_card = #{idCard}
            </if>

            <if test="workingAddress !=null and workingAddress !=''">
                AND working_address = #{workingAddress}
            </if>

            <if test="entryDate !=null and entryDate != ''">
                AND entry_date = #{entryDate}
            </if>

            <if test="salesUnit !=null and salesUnit != ''">
                AND sales_unit = #{salesUnit}
            </if>

            <if test="houseType !=null and houseType != ''">
                AND house_type = #{houseType}
            </if>

            <if test="housePrice !=null and housePrice != ''">
                AND house_price = #{housePrice}
            </if>

            <if test="propertyTransitionStatus !=null and propertyTransitionStatus != ''">
                AND property_transition_status = #{propertyTransitionStatus}
            </if>
        </where>
    </select>

    <!-- id查询个人购单位公房档案数据-->
    <select id="findById" resultType="com.bnuz.filemanagement.model.PublicHousing">
        select
        <include refid="select"></include>
        from public_housing
        where id = #{id}
    </select>

    <!-- 查询所有个人购单位公房档案数据-->
    <select id="findAll" resultMap="resultMap">
        select
        <include refid="select"></include>
        from public_housing
    </select>


</mapper>