<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.PublicHousingMapper">

    <!-- 录入档案信息 -->
    <insert id="insert">
        insert into public_housing(uid,applicant_name,id_card,working_address,
                                  entry_date,sales_unit,house_type)
        values (#{uid},#{applicantName},#{idCard},#{workingAddress},#{entryDate},#{salesUnit},#{houseType});
    </insert>


</mapper>