<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.ReformedHouseMapper">

    <resultMap id="resultMap" type="com.bnuz.filemanagement.model.ReformedHouse">
        <result column="id" property="id"/>
        <result column="original_unit" property="originalUnit"/>
        <result column="house_id" property="houseId"/>
        <result column="sales_unit" property="salesUnit"/>
        <result column="house_location" property="houseLocation"/>
        <result column="house_area" property="houseArea"/>
        <result column="house_type" property="houseType"/>
        <result column="house_price" property="housePrice"/>
        <result column="house_cost" property="houseCost"/>
        <result column="reformed_date" property="reformedDate"/>
        <result column="out_standard" property="outStandard"/>
        <result column="property_transition_data" property="propertyTransitionData"/>
    </resultMap>


    <sql id="select">
        id,
        original_unit,house_id,sales_unit,house_location,house_area,house_type,house_price,house_cost,
        reformed_date,out_standard,property_transition_data
    </sql>

    <sql id="query">
        <if test="id !=null and id !=''">
            AND id = #{id}
        </if>
        <if test="originalUnit !=null and originalUnit!=''">
            AND original_unit = #{originalUnit}
        </if>
        <if test="houseId !=null and houseId!=''">
            AND house_id = #{houseId}
        </if>
        <if test="salesUnit !=null and salesUnit !=''">
            AND sales_unit = #{salesUnit}
        </if>
        <if test="houseLocation !=null and houseLocation !=''">
            AND house_location = #{houseLocation}
        </if>
        <if test="houseArea !=null and houseArea !=''">
            AND house_area = #{houseArea}
        </if>
        <if test="houseType !=null and houseType != ''">
            AND house_type = #{houseType}
        </if>
        <if test="housePrice !=null and housePrice != ''">
            AND house_price = #{housePrice}
        </if>
        <if test="houseCost !=null and houseCost != ''">
            AND house_cost = #{houseCost}
        </if>
        <if test="reformedDate !=null and reformedDate != ''">
            AND reformed_date = #{reformedDate}
        </if>
        <if test="outStandard !=null and outStandard != ''">
            AND out_standard = #{outStandard}
        </if>
        <if test="propertyTransitionData !=null and propertyTransitionData != ''">
            AND property_transition_data = #{propertyTransitionData}
        </if>
    </sql>

    <!-- 录入单位公房房改简况数据 -->
    <insert id="insert">
        insert into reformed_house(original_unit,house_id,sales_unit,house_location,house_area,house_type,
                                   house_price,house_cost,reformed_date,out_standard,property_transition_data)
        values (#{originalUnit},#{houseId},#{salesUnit},#{houseLocation},#{houseArea},#{houseType},
                #{housePrice},#{houseCost},#{reformedDate},#{outStandard},#{propertyTransitionData});
    </insert>

    <!-- 根据id删除单位公房房改简况数据 -->
    <delete id="deleteById">
        delete from reformed_house where id=#{id};
    </delete>


    <!-- 根据id修改 -->
    <update id="update" parameterType="com.bnuz.filemanagement.model.ReformedHouse">
        update reformed_house
        <set>
            <if test="originalUnit != null">original_unit = #{originalUnit},</if>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="salesUnit != null">sales_unit = #{salesUnit},</if>
            <if test="houseLocation != null">house_location = #{houseLocation},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="houseType != null">house_type = #{houseType},</if>
            <if test="housePrice != null">house_price = #{housePrice},</if>
            <if test="houseCost != null">house_cost = #{houseCost},</if>
            <if test="reformedDate != null">reformed_date = #{reformedDate},</if>
            <if test="outStandard != null">out_standard = #{outStandard},</if>
            <if test="propertyTransitionData != null">property_transition_data = #{propertyTransitionData},</if>
        </set>
        where id = #{id}
    </update>


    <!-- 条件查询单位公房房改简况数据-->
    <select id="findOne" resultMap="resultMap">
        select
        <include refid="select"></include>
        from reformed_house
        <where>
            <include refid="query"></include>
        </where>
    </select>


    <!-- id查询单位公房房改简况数据-->
    <select id="findById" resultType="com.bnuz.filemanagement.model.ReformedHouse">
        select
        <include refid="select"></include>
        from reformed_house where id=#{id};
    </select>


    <!-- 查询所有单位公房房改简况数据-->
    <select id="findAll" resultMap="resultMap">
        select
        <include refid="select"></include>
        from reformed_house
        <where>
            <include refid="query"></include>
        </where>
    </select>


    <select id="countByDate" resultMap="resultMap">
        select
        <include refid="select"></include>
        from reformed_house
        where reformed_date = date_format(#{reformedDate},'%Y-%c-%d')
        group by original_unit;
    </select>

<!--    <select  id="getYearMonthDay"  resultType="com.bnuz.filemanagement.model.ReformedHouse">-->
<!--        SELECT  YEAR(reformed_date)  as  year,  MONTH(reformed_date)  as  month,  DAY(reformed_date)  as  day  FROM  reformed_house-->
<!--    </select>-->


    <select id="countByStandard" resultMap="resultMap">
        select
        <include refid="select"></include>
        from reformed_house
        where out_standard = #{outStandard}
        group by unit;
    </select>


</mapper>