<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.ReformedHouseMapper">

    <sql id="select">
        id,
        uid,realty_name,house_location,house_area,house_type,house_price,house_cost,reformed_date,out_standard
    </sql>

    <!-- 录入单位公房房改简况数据 -->
    <insert id="add">
        insert into reformed_house(uid,realty_name,house_location,house_area,house_type,
                                   house_price,house_cost,reformed_date,out_standard)
        values (#{uid},#{realtyName},#{houseLocation},#{houseArea},#{houseType},
                #{housePrice},#{houseCost},#{reformedDate},#{outStandard});
    </insert>

    <!-- 根据id删除单位公房房改简况数据 -->
    <delete id="deleteById">
        delete from reformed_house where id=#{id};
    </delete>


    <!-- 根据Uid修改 -->
    <update id="update" parameterType="com.bnuz.filemanagement.model.ReformedHouse">
        update reformed_house
        <set>
            <if test="uid != null">uid = #{uid},</if>
            <if test="realtyName != null">realty_name = #{realtyName},</if>
            <if test="houseLocation != null">house_location = #{houseLocation},</if>
            <if test="houseArea != null">house_area = #{houseArea},</if>
            <if test="houseType != null">house_type = #{houseType},</if>
            <if test="housePrice != null">house_price = #{housePrice},</if>
            <if test="houseCost != null">house_cost = #{houseCost},</if>
            <if test="reformedDate != null">reformed_date = #{reformedDate},</if>
            <if test="outStandard != null">out_standard = #{outStandard},</if>
        </set>
        where id = #{id}
    </update>


    <!-- 条件查询单位公房房改简况数据-->
    <select id="findOne" resultType="com.bnuz.filemanagement.model.ReformedHouse">
        select
        <include refid="select"></include>
        from reformed_house
        <where>

            <if test="id !=null and id !=''">
                id = #{id}
            </if>

            <if test="uid !=null and uid!=''">
                AND uid = #{uid}
            </if>

            <if test="realtyName !=null and realtyName !=''">
                AND realty_name = #{realtyName}
            </if>

            <if test="houseLocation !=null and houseLocation !=''">
                AND house_location = #{houseLocation}
            </if>

            <if test="houseArea !=null and houseArea !=''">
                AND house_area = #{houseArea}
            </if>

            <if test="houseType !=null and houseType != ''">
                AND house_type = #{houseType}
            </if>

            <if test="housePrice !=null and housePrice != ''">
                AND house_price = #{housePrice}
            </if>

            <if test="houseCost !=null and houseCost != ''">
                AND house_cost = #{houseCost}
            </if>

            <if test="reformedDate !=null and reformedDate != ''">
                AND reformed_date = #{reformedDate}
            </if>

            <if test="outStandard !=null and outStandard != ''">
                AND out_standard = #{outStandard}
            </if>
        </where>
    </select>


    <!-- id查询单位公房房改简况数据-->
    <select id="findById" resultType="com.bnuz.filemanagement.model.ReformedHouse">
        select
        <include refid="select"></include>
        from reformed_house where id=#{id};
    </select>


    <!-- 查询所有单位公房房改简况数据-->
    <select id="findAll" resultType="com.bnuz.filemanagement.model.ReformedHouse">
        select
        <include refid="select"></include>
        from reformed_house
    </select>


</mapper>