<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.UserMapper">
    <!-- 添加用户 -->
    <insert id="insertUser" parameterType="com.bnuz.filemanagement.model.User">
        insert into user(username,password)values(#{username},#{password});
    </insert>

    <!-- 查询所有用户信息 -->
<!--    <select id="selectAll" resultType="com.bnuz.filemanagement.model.User">-->
<!--        select *from user;-->
<!--    </select>-->

    <!-- 根据用户id查询信息 -->
<!--    <select id="selectUserByUid" resultType="com.bnuz.filemanagement.model.User">-->
<!--        select id,username,password from user where id=#{uid}-->
<!--    </select>-->

    <!-- 用户注册 -->
    <insert id="register">
        insert into user (username,password) values (#{username},#{password});
    </insert>

    <!-- 用户登录 -->
    <select id="login" resultType="com.bnuz.filemanagement.model.User">
        select id,username,password from user where username=#{username} and password=#{password};
    </select>

</mapper>