<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bnuz.filemanagement.mapper.UserMapper">

    <sql id="select">
        id,username,password,gender,identity,status,`group`,note
    </sql>

    <sql id="query">
        <if test="id !=null and id !=''">
            AND id = #{id}
        </if>
        <if test="username !=null and username!=''">
            AND username = #{username}
        </if>
        <if test="password !=null and password !=''">
            AND password = #{password}
        </if>
        <if test="gender !=null and gender !=''">
            AND gender = #{gender}
        </if>
        <if test="identity !=null and identity !=''">
            AND identity = #{identity}
        </if>
        <if test="group !=null and group !=''">
            AND `group` = #{group}
        </if>
        <if test="note !=null and note !=''">
            AND note = #{note}
        </if>
    </sql>

    <resultMap id="resultMap" type="com.bnuz.filemanagement.model.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="identity" property="identity"/>
        <result column="status" property="status"/>
        <result column="group" property="group"/>
        <result column="note" property="note"/>
    </resultMap>

    <!-- 注册/添加用户 -->
    <insert id="insert">
        insert into user(username,password,gender,identity,status,`group`,note)
        values (#{username},#{password},#{gender},#{identity},#{status},#{group},#{note});
    </insert>

    <!-- 用户登录 -->
    <select id="login" resultType="com.bnuz.filemanagement.model.User">
        select id,username,password from user where username=#{username} and password=#{password};
    </select>

    <!-- 根据id删除用户 -->
    <delete id="deleteById">
        delete from user where id=#{id};
    </delete>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.bnuz.filemanagement.model.User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="identity != null">identity = #{identity},</if>
            <if test="status != null">status = #{status},</if>
            <if test="group != null">`group` = #{group},</if>
            <if test="note != null">note = #{note},</if>
        </set>
        where id = #{id}
    </update>


    <!-- 条件查询一个用户信息-->
    <select id="findOne" resultMap="resultMap">
        select
        <include refid="select"></include>
        from user
        <where>
            <include refid="query"></include>
        </where>
    </select>

    <!-- 查询所有用户-->
    <select id="findAll" resultMap="resultMap">
        select
        <include refid="select"></include>
        from user
        <where>
            <include refid="query"></include>
        </where>
    </select>

    <!-- 根据id查询用户-->
    <select id="findById" resultType="com.bnuz.filemanagement.model.User">
        select
        <include refid="select"></include>
        from user
        where id = #{id}
    </select>


    <select id="findByUsername" resultType="com.bnuz.filemanagement.model.User">
        select
        <include refid="select"></include>
        from user
        where username = #{username}
    </select>

</mapper>